p {
  font-family: 'Times New Roman', serif;
  font-size: 21px;
}

h1 {
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  font-size: 40px;
}

.content {
  /* outline: 2px solid cyan; */
  margin: top;
  width: 600px;
  position: relative;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;

}

.profile-img {
  border-radius: 50px;
}

.big-image {
  width: 80%;
  margin: auto;
  display: block;
}

.profile-info {
  line-height: 1.3em;
  color: gray;
  display: inline-block;
  vertical-align: top;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}

.nav {
  width: 100%;
  /* margin: auto; */
  /* outline: 2px solid hotpink; */
  position: fixed;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.follow {
  display: block;
  margin-top: 7px;
  margin-right: 200px;
  border: 1px solid #80C1A2;
  border-radius: 15px;
  font-family: sans-serif;
  padding: 2px 10px 2px 10px;
  color: #80C1A2;
  float: right;
}

.twitter {
  margin-top: 7px;
  vertical-align: top;
  margin-left: 9px;
  float: right;
  padding: 0 10px 0 10px;
}
